type: drive
scope: drive
token: {"access_token":"ya29.a0AfB_byACC8UIA3mlTyG-xwCcaRD3GR739DQCRxKo9zpOjd2kGmW2PZyGLVxTFg9fI9xYgdccYpPGV9mteVVEOCYGuuCTvi8qHQlnFdLGg71U46JYi3VHr3u66jb2_IRDhxOUOQ-hjtVUJ8HbydKiETafLiE8AxxlTkDcaCgYKAS0SARMSFQGOcNnCdTJT5rqz9GN5UzrOZTUSvg0171","token_type":"Bearer","refresh_token":"1//0gXVzO4L3jeFsCgYIARAAGBASNwF-L9IrIs6Rh3xLeA03hlYdqDAJ67SpWij-ZWH8oIa2CABd27EiRgyoDcCVkOmjVF4u3tWLp20","expiry":"2023-10-11T11:40:13.0224728+05:30"}
team_drive: 0AJF0G6GppZY8Uk9PVA
root_folder_id: